@charset "utf-8";

/* 외부CSS합치기 */
@import url(reset.css);
@import url(core.css);
@import url(img.css);


/* ************** 상단 영역 ****************** */
.logo {
    max-width: 1200px;
    padding: 15px;
    text-align: left;
    box-sizing: border-box;
    margin: 0 auto;
}

.login_box {
    position: absolute;
    top: 18px;
    left: 51.6%;
    transform: translateX(-50%);
    width: 1200px;
    max-width: 100%;
    /* 1200px 이었다가 화면이 작아지면 100%로 변경 */
    overflow: hidden;
}

.login {
    float: right;
    margin-right: 50px;
}

.login li {
    float: left;
    margin: 0 5px;
}

.login li.icon_shop::before {
    content: url(../FF14/icon_shop2.png);
    margin-right: 2px;
    vertical-align: middle;
}

.login li a {
    color: #222;
    font-size: 1.3rem;
}

/* 로그인 상단바 끝 ******************************** */

/* gnb */
.gnb_box {
    position: absolute;
    background-color: #000;
    left: 0%;
    width: 100%;
    z-index: 2;
}

.gnb {
    width: 1200px;
    margin: 0 auto;
}

.gnb>ul>li {
    float: left;
    padding: 15px 36px;
}

.gnb>ul>li>a {
    display: inline-block;
    /* 인라인블록이면 위아래로 영역이 줄간격만큼 확장됨! */
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.7rem;
    line-height: 40px;
    border-bottom: 1px solid #000;
    /* 미리보더를 만들고 하위메뉴에 영향이 없도록함! */
}

.gnb>ul>li:hover>a {
    border-bottom: 1px solid rgb(38, 120, 255);
    /* 인라인블록이어서 보더가 크기에 영향을 미치지 않음! */
}

/* 세부 메뉴 */
.sub_menu {
    position: absolute;
    /* 젠틀앱솔루트 */
    z-index: 1;

    /* 서브메뉴 숨기기 */
    height: 0;
    overflow: hidden;

    /* 트랜지션: 속시이지 */
    transition: height .4s ease-out;
}

/* 서브 하위 ol */
.sub_menu ol {
    padding: 10px 0;
}

/* 서브 a */
.sub_menu a {
    font-size: 1.4rem;
    line-height: 30px;

    /* 글자색+밑줄 변경 */
    color: #fff;
}

.gnb>ul>li.sub_bg::after {
    content: '';
    display: block;
    /* div와 비슷! */
    position: absolute;
    top: 70px;
    left: 0;
    /* 부모는? 보이는 화면 */
    width: 100%;
    /* 앱솔루트 크기에 %사용시 부모를 기준함! 
    보이는 화면이 부모! */
    height: 0px;
    background-color: #000;
    transition: height .4s ease-out;
}

.gnb>ul>li.sub_bg:hover::after,
.gnb>ul>li:hover .sub_menu {
    height: 160px;
}

.gnb li.game_btn {
    display: block;
    width: 160px;
    height: 40px;
    background-repeat: no-repeat;
    margin: 0 1px;
}

.gnb li.game_btn:hover {
    background-position: 0 -70px;
}

.gameb {
    display: none;
}
/* ***************************** gnb 끝 */

/* ***************************** 햄버거 버튼 시작 */
.ham{
    position: absolute;
    top: -48px;
    right: 20px;

    font-size: 40px;
    transform: scaleX(1.5);

    /* 버튼 기본없애기 */
    background-color: transparent;
    border: none;

    /* 모바일 아닐때 안보임 */
    display: none;
}
.ham::before{
    content: '≡';
}
.ham:focus{
    outline: none;
}

/* ***************************** 햄버거 버튼 끝 */


/* ***************************** 배너 시작 */
.container {
    /* 슬라이드 부모 */
    position: relative;
    width: 100%;
    height: 500px;
    box-sizing: border-box;
    overflow: hidden;
}

#slide {
    display: flex;
    /*사진을 싸고 있는 슬라이드*/
    position: absolute;
    top: 71px;
    left: 0;
    width: 100%;
    height: 500px;
    align-items: stretch;
}

#slide li {
    flex-shrink: 0;
    /* 부모박스크기만큼 줄어들지 않음 -> 0 */
    flex-basis: 100%;
    /* 가로크기를 부모박스 크기에 맞춤! */
    /* height 값은 flex박스 자식요소에서
    등분할시 자동 100%임! */
}

#slide li img {
    /*이미지는 박스에 맞춤!*/
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 이미지 비율유지 채우기! */
}
#slide li .bn_txt{
    position: absolute;
    top: 140px;
    left: 250px;
    margin: 0 15px;
}

/*이동버튼*/
.abtn {
    position: absolute;
    top: 50%;
    transform: scale(70%);
    /*Y축 중앙이동*/
}

/*왼쪽버튼*/
.ab1 {
    left: 2%
}

/*오른쪽버튼*/
.ab2 {
    right: 2%;
}


/* ***************************** 배너 끝 */



/********** 2. 메인영역 **********/

#bn1 {
    position: absolute;
    top: 150px;
    right: 300px;
    /* 부모는? 보이는 화면 */
    width: min(25vw, 500px);
    /* 이미지의 최대크기 제한하기 */

    /* 변경 애니속성 2가지 */
    transform: translate(100%, 0);
    opacity: 0;

    /* 애니메이션: 이시이지반방마 */
    animation: bn1Ani 1s ease-in-out 1s forwards;
}

/* 문구 키프레임 */
@keyframes bn1Ani {
    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

.big1 {
    font: 4rem 'Nanum Myeongjo', serif;
    color: #fff;
    margin: 15px 0;
}

.small1 {
    font: 1.7rem 'Nanum Myeongjo', serif;
    color: #fff;
}

.date_ff {
    font: 1.7rem 'Nanum Myeongjo', serif;
    color: #fff;
}

.mid_line {
    width: 1200px;
    margin: 25px 0;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    float: left;
    box-sizing: border-box;
}

.mid_wrap {
    float: left;
}

.news {
    width: 300px;
}

.n_title {
    font-size: 1.8rem;
    padding: 0 15px;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #e6e6e6;
    box-sizing: border-box;
}

.news1 {
    position: relative;
    font-size: 1.5rem;
    padding: 15px;
    height: 152px;
    line-height: 35px;
    border-bottom: 1px solid #e6e6e6;
    box-sizing: border-box;
}

.news1>a>dl dt:nth-child(1) {
    font-family: 'Noto Sans KR', sans-serif;
    color: #000;
    font-size: 1.6rem;
}

.news1>a>dl dd:nth-child(2) {
    position: absolute;
    top: 15px;
    right: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #929292;
}

.news1>a>dl dd:nth-child(3) {
    font-family: 'Noto Sans KR', sans-serif;
    color: #707070;
}

.news2 {
    font-size: 1.5rem;
    padding: 15px;
    height: 152px;
    line-height: 30px;
}
.news2>ol>li.n2_li>a {
    font-family: 'Noto Sans KR', sans-serif;
    color: #000;
}
.news2>ol>li.n2_li>a>div{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* ********************************************************** 새소식란 끝 */
.s_title {
    font-size: 1.8rem;
    color: rgb(38, 120, 255);
    padding: 0 15px;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #e6e6e6;
    box-sizing: border-box;
}

.s_title::before {
    content: url(../FF14/icon_shop.png);
    margin-right: 5px;
    vertical-align: middle;
}
.shop{
    width: 600px;
    border-left: 1px solid #e6e6e6;
    box-sizing: border-box;
    height: 400px;
}
.shop1 {
    padding: 15px;
}

.shop1>ul>li {
    float: left;
}

.shop1>ul>li.item_one {
    margin: 0 10px;
}

.shop1>ul>li.item_two {
    margin: 0 10px;
}

.shop1>ul>li>a>div img {
    transition: all 0.2s linear;
}

.shop1>ul>li>a>div img:hover {
    transform: scale(1.2);
}

.shop1>ul>li>a {
    color: #000;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
}

.shop1>ul>li>a>div.first {
    font-size: 1.6rem;
    color: rgb(38, 120, 255);
    margin: 20px 0 0 0;
}

.shop1>ul>li>a>div.second {
    font-size: 1.9rem;
    color: #000;
    font-weight: bold;
    margin: 5px 0 25px 0;
}

.shop1>ul>li>a>div.third {
    font-size: 1.7rem;
    color: rgb(38, 120, 255);
    border-top: 1px solid #e6e6e6;
    line-height: 40px;
}

.shop1>ul>li>a>div.third::before {
    content: url(../FF14/icon_shop2.png);
    margin-right: 5px;
    vertical-align: middle;
}

/* ***************************************** 크리스탈 샵 끝 */

.l_title {
    background-color: rgb(246, 218, 202);
    font-size: 1.3rem;
    color: #000;
    padding: 0 15px;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #e6e6e6;
    box-sizing: border-box;
}

.l_title::after {
    content: url(../FF14/icon_arrow4.png);
    margin-left: 5px;
    vertical-align: middle;
}

.login2 {
    width: 298px;
    border-left: 1px solid #e6e6e6;
    height: 400px;
    box-sizing: border-box;
}

.log2>p {
    font-size: 1.5rem;
    color: #000;
    margin: 65px 15px 20px;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
}

.log2>button.btn1 {
    display: block;
    margin: 10px 15px;
    background-color: rgb(38, 120, 255);
    border: 0 solid #fff;
    width: 267px;
    height: 60px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;
    font-size: 1.5rem;
}

.log2>button.btn2 {
    display: block;
    margin: 10px 15px;
    background-color: #727272;
    border: 0 solid #fff;
    width: 267px;
    height: 60px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;
    font-size: 1.5rem;
}

.log2>button.btn1:hover,
.log2>button.btn2:hover {
    filter: brightness(110%);
}

.log2>a>p {
    display: inline;
    font-size: 1.2rem;
    color: #999;
}

.log2>a>p.fp {
    margin: 15px 7px 15px 32px;
}

.log2>a>p.sp {
    margin: 15px 15px 15px 7px;
}

/* ********************************************** 로그인칸 끝 */
.mid_sns {
    position: absolute;
    top: 580px;
    left: 50%;
    margin-left: 630px;
}

.mid_sns>ul>li>a.instar {
    margin: 0 1px 10px;
}

.mid_sns>ul>li>a.faceb {
    margin: 10px 1px;
    background-position: 0 -46px;
}

.mid_sns>ul>li>a.youtb {
    margin: 10px 1px;
    background-position: 0 -92px;
}

.mid_sns>ul>li>a.twitter {
    margin: 10px 1px;
    background-position: 0 -138px;
}

.mid_sns>ul>li>a.naverp {
    margin: 10px 1px;
    background-position: 0 -184px;
}

.mid_sns>ul>li>a.instar:hover {
    background-position: -46px 0;
}

.mid_sns>ul>li>a.faceb:hover {
    background-position: -46px -46px;
}

.mid_sns>ul>li>a.youtb:hover {
    background-position: -46px -92px;
}

.mid_sns>ul>li>a.twitter:hover {
    background-position: -46px -138px;
}

.mid_sns>ul>li>a.naverp:hover {
    background-position: -46px -184px;
}

.instar,
.faceb,
.youtb,
.twitter,
.naverp {
    display: none;
}

/* *********************************** 중간영역 sns 끝 */
.cont1txt {
    display: inline-block;
    font-size: 2.1rem;
    margin-bottom: 8px;
}

.cont1 {
    display: flex;
    max-width: 1200px;
    height: 380px;
    align-content: flex-start;
}

.cont1-1 {
    display: flex;
    max-width: 1200px;
    height: 380px;
    align-content: flex-start;
    margin: 0 0 25px 0;
}

.contIn {
    flex: 1;
    border: 1px solid #c9c9c9;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.movtxt{
    position: relative;
}
.movtxt>li{
    font-size: 3.9rem;
    background-color: #fff;
    line-height: 1.2;
    cursor: pointer;
    opacity: 0;
}
.movtxt>li.on {
    position: absolute;
    padding: 15px 35px;
    opacity: 1;

    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;
    font-size: min(1.5vw,16px);
    line-height: 35px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.7);

    transition: opacity .4s ease-out .3s;

}

/* ********************************** 컨텐츠 박스라인 1 끝 */




/* *********** 하단 영역 ************ */
.sub_ft {
    position: relative;
    /* 부모자격 */
    height: 200px;
    padding: 10px;
    box-sizing: border-box;
}

.blink {
    max-width: 1200px;
    margin: 0 auto;
    /* 마영오! */
}

/* 가상요소 clear */
.blink ul::after {
    content: '';
    display: block;
    clear: both;
}

.blink li {
    float: left;
    padding: 0 15px;
}

.blink a {
    color: #222;
    font: bold 1.3rem/2.8 'Nanum Gothic', sans-serif;
}

.blink a:hover {
    color: #000;
    text-decoration: underline;
}

.addr {
    color: #575757;
    max-width: auto;
    font: 1.2rem/2 'Nanum Myeongjo', serif;
    /* 원래 address요소는 italic체인데 font한번에쓰기에서
    스타일 설정을 안하면 기본 normal이 적용되서 없어짐 */
    text-align: left;
    padding: 10px;
    box-sizing: border-box;
    /* 크기유지 */
}

.blogo {
    position: absolute;
    top: 70px;
    right: 50px;
}

/* ********************************* 하단영역 끝 */

/* ********************************* 위로가기버튼 */
.tbtn {
    position: fixed;
    bottom: -43px;
    /* 아래쪽에 나가있음 */
    right: 75px;
    width: 48px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background-color: #333;
    border-radius: 4px 4px 0 0;
    color: #fff;
    z-index: 9999;
    font-size: 12px;
    opacity: 0;
    /* 투명 */

    /* 트랜지션: 속시이지 */
    transition: background-color .3s,
        opacity .3s;
}

/* 탑메뉴 클래스on상태 */
.tbtn.on {
    opacity: 1;
    /* 나타나기 */
    bottom: 0;
    /* 올라옴! */
}

/* 탑메뉴 마우스 오버시 */
.tbtn:hover {
    background-color: rgb(38, 120, 255);
}